.options, .drink, .food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  height: 100%;
  gap: 15%;
}

ion-card {
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}

ion-icon {
  color: white;
}